.card {
  display: flex;
  width: 100%;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.8);
  background: linear-gradient(180deg, #202246 -53.38%, rgba(40, 43, 87, 0.31) 100%);
  padding: 1rem;
  margin: 1rem 0;
  @media (max-width: 620px) {
    flex-direction: column;
    max-width: 400px;
    .card__word {
      justify-content: center;
    }
    .card__button {
      margin-top: 10px;
    }
  }
  @media (max-width: 412px) {
    .card__buttons {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
    }
    .card__button {
  
    }
  }
  .card__image {
    width: 200px;
    img {
      width: 200px;
    }
  }
  .card__content {
    margin-left: 30px;
  }
  .card__word {
    display: flex;
    align-items: center;
    font-weight: 600;
    color:#fff;
    .m10 {
      margin-right: 10px;
    }
    .word {
      color: #3BF5BD;
    }
  }
  .word__button {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    transition: 250ms ease-in-out;
    svg {
      height: 100%;
      width: 100%;
      margin: 9px 0 0 7px;
    }
    &:hover {
      background-color: #F5443B
      ;
    }
  }
  .card__word-meaning {
    padding: 10px 10px 10px 0;
  }
  .card__word-example {
    padding: 10px 10px 10px 0;
  }
  .card__buttons {
    color: #F5443B;
    .card__button {
      border: 1px solid #F5443B;
      border-radius: 3px;
      padding: 8px 30px;
      transition: 300ms ease-in-out;
      margin-right: 20px;
      margin-top: 10px;
      &:hover {
        background-color: #F5443B;
        color: #fff;
      }
    }
  }
  .learned {
    color: #3BF5BD;
  }
  .progress {
    margin-top: 10px;
    .progress__games {
      margin-top: 10px;
      display: flex;
      column-gap: 15px;
    }
  }  
}
