@import '../../../pages/main/styles/animation.scss';

.sing-in {
   transform: scale(0);
   opacity: 0;
  
   &.active{
      transition: transform 0.2s ease 0s, opacity 0.4s ease .1s;
      opacity: 1;
      transform: scale(1);
   }
   transition: transform 0.4s ease 0.2s, opacity 0.2s ease 0s;
   overflow-y: auto;
   position: fixed;
   padding: 15px;
   top: 0;
   left: 0;
   z-index: 20;
   background-color: rgba(23, 24, 54, 0.97);
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
  
   // .sing-in__body
   &__body {
      border: 8px solid rgba(154, 156, 203, 0.6);
      border-radius: 15px;
      max-width: 400px;
      width: 100%;
      padding: 15px 10px;
      color: #fff;
      position: relative;
      & p{
         text-align: center;
         margin-bottom: 25px;
         font-size: rem(30);
         font-weight: 700;
         letter-spacing: em(0);
      }
      & input {
         outline: none;
         display: block;
         width: 100%;
         min-height: 30px;
         padding: 0 5px;
         background-color: rgba(154, 156, 203, 0.6);
         color: #fff;
         border-radius: 10px;
         border: 4px solid transparent;
         transition: all 0.3s ease 0s;
         &:focus{
            border: 4px solid rgba(154, 156, 203, 0.6);
         }
         &:not(:last-child){
            margin-bottom: 20px;
         }
      }
      & .registration__form label.false{
        position: relative;
        &::after{
          content:'';
          position: absolute;
          right: 7px;
          top: 30px;
          width: 10px;
          height: 10px;
          z-index: 200;
          background-color: #F5443B;
          border-radius: 50%;
        }
      }
      & .registration__form label.true{
        position: relative;
        &::after{
          content:'';
          position: absolute;
          right: 7px;
          top: 30px;
          width: 10px;
          height: 10px;
          z-index: 200;
          background-color: #53E7CD;
          border-radius: 50%;
        }
      }
      & label{
         display: block;
         margin-bottom: 5px;
         cursor: pointer;
      }
      & button{
        user-select: none;
         display: block;
         width: 100%;
         margin-top: 30px;
         padding: 10px 5px;
         background-color: #F5443B;
         text-align: center;
         border-radius: 10px;
         color: #fff;
         font-weight: 600;
         font-size: rem(20);
         box-shadow: 0px 0px 0px 0px#F5443B;
         transition: all 0.3s ease 0s;
         animation-duration: .7s;
         @media (max-width: em(460)){
            font-size: rem(18);
         }
         @media (any-hover: hover){
            &:hover{
               animation-name:button;
            }
         }
      }
      & button.disable{
        transition: all 0.3s ease 0s;
        background-color: rgb(90, 90, 90);
        pointer-events: none;
        @media (any-hover: hover){
          &:hover{
            animation-name: none;
          }
        }
      }
   }
   &__close{
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    & svg {
      fill: rgba(255, 255, 255, 0.544);
      transition: all 0.3s ease 0s;
    }
    @media (any-hover: hover){
      &:hover{
        & svg{
          fill:#fff;
        }
      }
    }
   }
   // .sing-in__form
   &__form {
      & p{
         font-size: rem(18);
         text-align-last: left;
         & span {
            transition: all 0.3s ease 0s;
            color: #F5443B;
            text-decoration: transparent;
            cursor: pointer;
            @media (any-hover: hover){
               &:hover{
                  text-decoration: underline;
               }
            }
         }
      }
      & p.sing-in__error{
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: rem(16);
        color: #F5443B;
      }
   }
   // .sing-in__input-email
   &__input-email {

      
   }
   // .sing-in__input-password
   &__input-password {
   }
   // .sing-in__input-button
   &__input-button {
   }
}
