$mainBackground: #171836;
$mainBackgroundLight: #2d2e4b;
$menuColor:#2b2c54;
$menuBorderColor:#393975;
$fontMainColor:#FFFFFF99;
$fontHoverColorWhite:#FFF;
$fontColorOrenge:#F5443B;
$contaier:1210;
$table:768;
$mobile:320;

