@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic");
@import './mixins.scss';
* {
   padding: 0px;
   margin: 0px;
   border: 0px;
}

*,
*:before,
*:after {
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

html,
body {
   height: 100%;
   font-family: "Open Sans";
   background-color: #171836;
   &._lock{
      overflow-y: hidden;
   }
}

body {
   line-height: 1;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
   font-size: inherit;
}

button {
   cursor: pointer;
   color: inherit;
   background-color: inherit;
}

a {
   color: inherit;
}

a:link,
a:visited {
   text-decoration: none;
}

a:hover {
   text-decoration: none;
}

ul li {
   list-style: none;
}

img {
   vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-weight: inherit;
   font-size: inherit;
}

[class*="__container"] {
   box-sizing: content-box;
   margin: 0 auto;
   max-width: 1210px;
   padding: 0 15px;
}

.wrapper {
   min-height: 100%;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;

   flex-direction: column;
   overflow: hidden;
}

.wrapper > main {
   flex: 1 1 auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background-image: url("./assets/images/main-page/dots-backgtound.png");
   background-size: contain;
}

.load-screan{
  position: fixed;
  background-color: #171836bb;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  
  &__img{
    width: 200px;
    height: 200px;
    background: url('./assets/images/main-page/load.gif');
    background-size: contain;
  }
}